* {
  box-sizing: border-box;
}

html, body {
height: calc(100% - 20px) !important;
}

body {
  background-color: #242424;
  color: #eee;
  margin: 0;
}

svg > path {
  fill: #eee;
}

svg > path:hover {
  cursor: pointer;
}

a {
  color: #77befa;
}

div > ul {
  list-style-type: none;
}

li.remote, li.remote svg > path {
  color: #999;
  fill: #999;
  stroke: #999;
}

li.remote svg.removeButton {
  visibility: hidden;
}

div#songs > ul > li > .songButtons {
  opacity: 0.0;
  transition: all 200ms ease-in-out;
}

div#songs > ul > li:hover > .songButtons {
  opacity: 1.0;
}

.removeButton {
position: absolute;
float: right;
right: 35px;
}
.playButton {
position: absolute;
margin-left: -20px;
}
audio#player {
position: fixed;
right: 30px;
bottom: 10px;
box-shadow: #999 0px 0px 20px -5px;
max-height: 30px;
}
label {
padding: 0 5px;
}
#select_user {
padding: 2px 4px;
max-width: 180px;
overflow: hidden;
}
#fileField {
background-color: #303030;
color: #ccc;
border: none !important;
max-width: 350px;
overflow: hidden;
}
div#top, div#top input {
font-size: 16px;
}
div#top {
background-color: #303030;
width: 100%;
margin: 0;
position: fixed;
top: 0;
z-index: 10;
padding-top: 10px;
padding-bottom: 10px;
height: 50px;
position: fixed;
box-shadow: #444 0 0 10px 5px;
}
#top input:nth-child(8) {
background-color: #444;
padding: 3px 3px;
border-radius: 3px;
color: #ddd;
border: none;
cursor: pointer;
}
#top input:nth-child(8):hover {
background-color: #555;
}

div#container {
  width: 100%;
  margin-top: 40px;
  clear: both;
height: calc(100% - 60px);
}
div#container::after {
  clear: both;
}

#fileField, #artists h2 {
cursor: pointer;
}
div#artists ul, div#songs ul {
padding-bottom: 30px;
}

div#artists {
float: left;
position: absolute;
padding: 30px 0px;
width:35%;
max-height: calc(100% - 40px);
overflow: auto;
direction: rtl;
background-color: #242424;
}
div#artists::after {
  clear: both;
}
div#artists h2 {
margin-right: 40px;
}
#artists ul {
padding: 0;
}
#artists ul li {
padding: 5px 40px 5px 10px;
}
#artists ul li:hover {
background-color: #333 !important;
}
#artists ul li span {
cursor: pointer;
width: 100%;
height: 100%;
display: block;
}

div#songs {
float: right;
background-color: #303030;
position: absolute;
right: 0px;
top: 40px;
padding: 30px 20px 0px 20px;
width: 65%;
height: calc(100% - 40px);
overflow: auto;
}
div#songs h2 {
margin-left: 35px;
}
#songs ul {
width: 100%;
padding: 0px;
}
#songs ul li {
padding: 5px 35px;
width: calc(100% - 0px);
}
#songs ul li:hover {
background-color: #444 !important;
}

@media screen and (max-width: 1199px) {
#artistField, #titleField {
width: 130px;
}
}
@media screen and (max-width: 999px) {
div#top {
height: 80px;
}
div#artists, div#songs {
  padding-top: 50px;
}
#fileField {
  position: absolute;
  margin-top: 35px;
  left: 180px;
}
#select_user {
  position: absolute;
  top: 43px;
}
}
@media screen and (max-width: 500px) {
div#top {
height: 110px;
}
#fileField {
  margin-top: 65px;
  left: 4px;
}
#top input:nth-child(8) {
position: absolute;
top: 43px;
left: 180px;
}
#select_user {
  top: 43px;
  left: 0px;
}
div#artists, div#songs {
  padding-top: 70px;
}
div#artists ul li {
  padding-right: 5px;
}
div#artists h2 {
	margin-right: 5px;
}
div#songs, div#songs ul {
  padding-left: 0;
  padding-right: 0;
}
div#songs ul li {
  padding: 5px 20px;
}
div#songs h2 {
	margin-left: 20px;
}
.removeButton {
right: 5px;
margin-top: 2px;
}
.playButton {
margin-left: -15px;
margin-top: 2px;
}
}
