body {
  background-color: #222;
  color: #fff;
  margin: 0;
}

* {
  box-sizing: border-box;
}

svg > path {
  fill: #fff;
}

svg > path:hover {
  cursor: pointer;
}

a {
  color: #77befa;
}

div#top {
  background-color: #222;
  width: 100%;
  height: 40px;
  margin: 0;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
}

div#artists {
  width: 50%;
  float: left;
}

div#artists::after {
  clear: both;
}

div#songs {
  width: 50%;
  float: right;
}

div > ul {
  list-style-type: none;
}

li.remote, li.remote > svg > path {
  color: #777;
  fill: #777;
}

div#songs > ul > li > svg {
  visibility: hidden;
}

div#songs > ul > li:hover > svg {
  visibility: visible;
}

div#container {
  width: 100%;
  margin-top: 40px;
  clear: both;
}

div#container::after {
  clear: both;
}
