body {
  background-color: #222;
  color: #fff;
}

svg > path {
  fill: #fff;
}

svg > path:hover {
  cursor: pointer;
}

a {
  color: #77befa;
}

div#artists {
  width: 50%;
  float: left;
}

div > ul {
  list-style-type: none;
}
